package layouts

// Admin layout for dashboard pages - no footer
templ Admin(title string, scripts templ.Component) {
	<!DOCTYPE html>
	<html lang="id" class="scroll-smooth">
		@Head(title)
		<body class="bg-background font-sans text-foreground antialiased">
			{ children... }
			if scripts != nil {
				@scripts
			}
		</body>
	</html>
}
