@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --font-serif: "Tinos", serif;
  
  --animate-infinite-scroll: infinite-scroll 40s linear infinite;
  
  @keyframes infinite-scroll {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
  }
}

@source "../../internal/**/*.templ";
@source "../../internal/**/*.go";
@source "../../ui/**/*.templ";
@source "../../ui/**/*.go";