@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --font-serif: "Tinos", serif;
}

@source "../../internal/**/*.templ";
@source "../../internal/**/*.go";
@source "../../ui/**/*.templ";
@source "../../ui/**/*.go";